<%= render 'shared/content_title', title: "User Profile: #{@user.username}" %>

<div class="well">
  <p><strong>Username:</strong> <%= @user.username %></p>
  <p><strong>Time Zone:</strong> <%= @user.time_zone %></p>
</div>

<div>
  <h5><%= @user.username %>'s activity:</h5>
</div>


<ul class="nav nav-tabs">
<li class=" <%= 'active' if params[:tab].nil? %> ">
<%= link_to "Posts (#{@user.posts.size})", user_path(@user) %>
</li>
<li class="<%= 'active' if params[:tab] == 'comments' %>">
<%= link_to "Comments (#{@user.comments.size})", user_path(@user, tab: 'comments') %>
</li>
</ul>


<!-- users posts -->
<% if params[:tab].nil? %>
  <div>
  <% @user.posts.each do |post| %>
    <%= render 'posts/post', post: post %>
  <% end %>
  </div>


<% elsif params[:tab] == 'comments' %>
  

  <div>
    
    <!-- user's comments -->
    <%  @user.comments.each do |comment|  %>
    <div class="row">

      <!-- votes -->
      <div class="span0 well text-center">
        <% if logged_in? %>
          <%= link_to vote_post_comment_path( comment.post, comment, vote: true), method: 'post', remote: true  do %>
            <i class="icon-arrow-up"></i>
          <% end %>
        <% end %>
        <div><span id="post_<%= comment.id %>_votes" ><%= comment.total_votes %></span> votes</div>
        <% if logged_in? %>
          <%= link_to vote_post_comment_path( comment.post, comment, vote: false), method: 'post', remote: true  do %>
            <i class="icon-arrow-down"></i>
          <% end %>
        <% end %>  
      </div>

      <!-- comments -->
      <div class="well span6">
        <div class="alert alert-error vote_error" id="vote_error_<%= comment.id %>">
        <button type="button" class="close">&times;</button>
          You can only vote on a comment once.
        </div>

        <div class="alert alert-success vote_success" id="vote_success_<%= comment.id %>">
          <button type="button" class="close">&times;</button>
        </div>

        <em>
          "<%= comment.body %>"
          
          on <%= link_to comment.post.title , post_path(comment.post) %>
          
        </em>
        <p>
          <% if comment.creator %>
            <span class="quiet">Posted by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
          <% end %>
          <small>on <%= format_datetime(comment.created_at) %></small>
        </p>

        <div id="comment_<%= comment.id %>_current_vote">
          <%= render 'shared/current_vote', object: comment %>
        </div>
      </div>
    </div>
  <% end %>

  </div>
<% end %>