<% show_post ||= false %>
<% comments = object.comments.sort_by { |x| x.total_votes }.reverse %>

<% comments.each do |comment|  %>
  <div class="row">

    <!-- votes -->
    <div class="span0 well text-center">
      <% if logged_in? %>
        <%= link_to vote_post_comment_path( comment.post, comment, vote: true), method: 'post', remote: true  do %>
          <i class="icon-arrow-up"></i>
        <% end %>
      <% end %>
      <div><span id="comment_<%= comment.id %>_votes" ><%= #comment.total_votes %></span> </div>
      <% if logged_in? %>
        <%= link_to vote_post_comment_path( comment.post, comment, vote: false), method: 'post', remote: true  do %>
          <i class="icon-arrow-down"></i>
        <% end %>
      <% end %>  
    </div>

    <!-- comments -->
    <div class="well span6">
      <em>
        "<%= comment.body %>"
        <% if show_post %>
        on <%= link_to comment.post.title , post_path(comment.post) %>
        <% end %>
      </em>
      <p>
        <% if comment.creator %>
          <span class="quiet">Posted by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
        <% end %>
        <small>on <%= format_datetime(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>
  