<% show_post ||= false %>

<% object.comments.each do |comment|  %>
  <div class="row">
    <div class="span0 well text-center">
      <%= link_to vote_post_comment_path(comment, vote: true), method: 'post'  do %>
      <i class="icon-arrow-up"></i>
    <% end %>
    <div>
      0
    </div>
      <%= link_to vote_post_path(comment, vote: false), method: 'post'  do %>
      <i class="icon-arrow-down"></i>
    <% end %>
    </div>
    <div class="well span6">
      <em>
        "<%= comment.body %>"
        <% if show_post %>
        on <%= link_to comment.post.title , post_path(comment.post) %>
        <% end %>
      </em>
      <p>
        <% if comment.creator %>
          <span class="quiet">Posted by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
        <% end %>
        <small>on <%= format_datetime(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>
  