<!--<p class="pull-right">-->
<!--  [<%= link_to "Remove", @post, method: :delete, data: { confirm: "Are you sure?" } %>]-->
<!--</p>-->

<% if logged_in? && @post.creator == current_user || logged_in? && current_user.role == 'admin' %>
  <p class="pull-right">
    [<%= link_to 'edit this post', edit_post_path(@post) %>]
  </p>
<% end %>

<p>
  <%= render @post.categories %>
</p>

<%= render 'shared/content_title', title: @post.title %>

<p>Link: <%= link_to @post.url, format_link(@post.url) %> </p>
<p>
  <%= image_tag @post.post_image,  class: 'img-polaroid' %>
</p>
<p>
  <%= @post.description %>
</p>


<% if @post.creator %>
<p>Created by <%= link_to @post.creator.username, user_path(@post.creator) %> </p>
<% end %>

<%= link_to 'go back', posts_path %> 
<hr>

<!-- add comment form -->
<% if logged_in? %>
  <%= render 'shared/errors', object: @comment %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.label :body %>
    <%= f.text_area :body %> <br>
    <%= f.submit 'Add Comment', class: 'btn btn-primary ' %>
  <% end %>
<% end %>

<!-- list comments -->
<% @post.reload.comments.each do |comment|  %>
  <div class="row">

    <!-- votes -->
    <div class="span0 well text-center">
      <% if logged_in? %>
        <%= link_to vote_post_comment_path( comment.post, comment, vote: true), method: 'post', remote: true  do %>
          <i class="icon-arrow-up"></i>
        <% end %>
      <% end %>
      <div><span id="comment_<%= comment.id %>_votes" ><%= comment.total_votes %></span> votes</div>
      <% if logged_in? %>
        <%= link_to vote_post_comment_path( comment.post, comment, vote: false), method: 'post', remote: true  do %>
          <i class="icon-arrow-down"></i>
        <% end %>
      <% end %>  
    </div>

    <!-- comments -->
    <div class="well span6">
      <em>
        "<%= comment.body %>"
      </em>
      <p>
        <% if comment.creator %>
          <span class="quiet">Posted by </span><%= link_to comment.creator.username, user_path(comment.creator) %>
        <% end %>
        <small>on <%= format_datetime(comment.created_at) %></small>
      </p>
    </div>
  </div>
<% end %>
